<!-- Add Checks Form -->
<div class="mb-6 p-4 bg-gray-50 rounded-lg">
  <p-inputgroup>
    <p-inputNumber
      [(ngModel)]="checkAmount"
      placeholder="Monto del cheque"
      styleClass="min-w-[55%]"
      [min]="0.01"
      [step]="0.01"
      mode="decimal"
      [minFractionDigits]="0"
      [maxFractionDigits]="2"
      locale="es-AR"
    />

    <p-inputgroup-addon>
      <div class="flex h-full items-stretch">
        <p-button (onClick)="addCheck()" [disabled]="(checkAmount || 0) <= 0">
          <i class="pi pi-plus"></i>
        </p-button>
      </div>
    </p-inputgroup-addon>
  </p-inputgroup>

  <div class="mt-5">
    @for (check of currencyTracker.checks(); track check.id) {
      <div class="flex items-center gap-2 py-2">
        <div class="flex-1 p-3 bg-gray-100 rounded border text-lg font-semibold">
          ${{ check.amount | number:'1.0-2':'es-AR' }}
        </div>

        <p-button severity="danger" styleClass="flex" (onClick)="removeCheck(check.id)">
          <i class="pi pi-trash h-[22px] pt-0.5"></i>
        </p-button>
      </div>
    } @empty {
      <div class="text-center py-8 text-gray-500">
        <i class="pi pi-file text-4xl mb-2"></i>
        <p>Todavía no agregaste nada.</p>
      </div>
    }

    <!-- actions -->
    <div class="actions">
      @if (currencyTracker.checks().length > 0) {
        <div class="flex justify-end mt-4">
          <p-button
            label="Borrar todos los cheques"
            icon="pi pi-trash"
            severity="danger"
            size="small"
            (onClick)="clearAllChecks()"
            [outlined]="true"
          />
        </div>
      }
    </div>
  </div>
</div>
